
# Ignore time complexity graph
tc_graph.png

# Ignore graph image for testing
graph.png

# Ignore notes file
notes.txt

# Ignore keys directory and envrioment files
keys/
.env
*.env
.env.local
.env.development
.env.production

# TODO: ADD WINDOWS FILES IGNORE 

# Ignore macOS files (When developing on macOS)
.DS_Store


# Ignore python cache files
__pycache__/
*.py[cod]
*$py.class